[basic]
monetasdk_demo_mode = 0
monetasdk_test_mode = 0
monetasdk_debug_mode = 0
monetasdk_account_id =
monetasdk_account_code =
monetasdk_account_username =
monetasdk_account_password =
monetasdk_prototype_user_unit_id =
monetasdk_prototype_user_account_id =
monetasdk_history_items_per_page = 20
